<!-- <section id="wrapper" class="login-register login-sidebar" style="background-image:url(app/assets/images/background_login.png);">
    <div class="login-box card">
        <div class="card-body">

            Formulário de recuperação de senha
            <form class="form-horizontal" id="recoverform" name="recoverForm">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recuperar Senha</h3>
                        <p class="text-muted">Informe seu Email para que possamos enviar a sua senha.</p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Informe seu email cadastrado" ng-model="email" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <select class="form-control" name="userType" id="userType" ng-required="true" ng-model="userType">
                            <option value="" selected>Selecione o tipo do usuário</option>
                            <option value="Atendimento">Atendimento</option>
                            <option value="Cliente">Cliente</option>
                        </select>
                    </div>
                </div>       
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" ng-click="recoverPassword()" ng-disabled="recoverForm.$invalid">Recuperar Senha</button>
                    </div>
                </div>
            </form>
            <div ng-show="isPasswordRecovered" class="alert alert-success">
                Email de solicitação de senha, enviado com sucesso. Verifique sua caixa de correio eletrônico.
            </div>

        </div>
    </div>
</section> -->