<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=OLIVERTECH-WORK\SQLDEVELOPER; Initial Catalog=atendimento_db; user id=atendimentodbuser; password = 12345678; Persist Security Info = False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>